.headerCol {
    background: var(--amber-1);
    color: var(--b50);
    padding-bottom: 1rem;
}

.headerGrid {
    display: grid;
    grid-template-columns: 1fr;
}

.headerCol h1 {
    font-size: 2rem;
    margin: 3rem 0 0.25rem;
}

.headerCol h1 span {
    display: block;
    font-size: 6rem;
    line-height: 0.75;
}

.emblems {
    margin-top: var(--space-md);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.emblems img {
    max-height: 100%;
    width: auto;
    padding: 0 1rem
}

.backToHome {
    background: var(--b700);
    color: var(--b100);
    font-size: 0.875rem;
    
}
.backToHome a {
    display: inline-block;
    color: var(--b200);
    text-decoration: underline;
    padding: var(--space-sm) 0;
}

h1.countryName {
    font-size: clamp(2.25rem, 6vw, 4.5rem); font-weight: 700;
}

.main {
    background: var(--b100);
}

.ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
}

.ul li {
    display: inline-block;
    margin: 0.5rem 1rem 0.5rem 0; 
}

.countriesHeader {
    margin: 1rem 0;
}

.regionName {
    padding-bottom: 0;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #2d394f;

    font-size: 1.75rem;
    color: rgb(var(--theme-color-2-rgb));
}

.regionSection {
    margin-bottom: 2rem;
}

.worldMapSection svg {
    max-width: 100%;
    height: auto;
}

.contentGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-sm);
}

.contentGrid > * {
    border-width: 0 0 1px 0;
    border: 1px solid rgb(var(--theme-color-3-rgb));
}

.contentGrid.headerGrid > * {
    padding: 0;
    border: 0;
}

.nonTextCell {
    padding: 0;
}

.headerCellLeft, .headerCellRight {
    border-width: 0;
}

.articleName {
    font-weight: bold;
    margin: 0 0.5rem 0 0;
}

.cellArticle {
    margin: 0.5rem 0;
}

.cellBorders {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
}

.mapCell {
    min-height: 4rem;
}

@media only screen and (min-width: 40rem) {
    .contentGrid {
        grid-template-columns: 50% 50%;
    }
    
    .contentGrid.headerGrid {
        grid-template-columns: 60% 40%;
    }

    .contentGrid > * {
        border-width: 1px;
    }

    .contentGrid.headerGrid > * {
        border-width: 0;
    }

    .contentCellFull {
        grid-column: 1 / span 2;
    }

    .contentCellRight {
        border-left: 0;
    }
    
}